<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e34397b2-486a-417d-bd5a-b9113a4a1b0c/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/HealthTrackerApplication</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://healthtrackerapplication.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d17d7495-c172-4a5e-aae7-814de9ea30eb</ProjectGuid>
    <PublishUrl>https://healthtrackerapplication.scm.azurewebsites.net/</PublishUrl>
    <UserName>$HealthTrackerApplication</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>